body  {
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
   display: flex; 
   flex-direction: column;
   flex-wrap:wrap;
   min-height: 100vh;
}

.header {
    background-color: #1F2937;
    padding: 16px;
    display:flex;
    justify-content: space-between;
    font-weight: 700;
    height: 50px;
}

.logo   {
    font-size: 24px;
    color: #f9faf8;
    padding: 16px;
}

a  {
    font-size:18px;
    color:#f9faf8;
    text-decoration: none;
}

ul  {
    list-style: none;
    margin: 0;
    padding:0;
    gap: 15px;
    display:flex;
    font-size: 18px;
}

.header-links {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.footer {
    background-color: #1F2937;
    padding: 16px;
    display:flex;
    justify-content: center;
    font-size: 18px;
    color: #f9faf8;
    height: 35px;
}

.content    {
    display:flex;
    background-color: #1F2937;
    padding: 16px;
    color: #f9faf8;
    flex:1;
    flex-shrink: 1;
    justify-content: space-around;
}

.content-container  {
    display:flex;
    flex-direction: column;
    flex:1;
}

.magic-logo {
    display:flex;
    flex:2;
    justify-content: center;
    align-items: center;
}

.container  {
    display: flex;
    flex:1;
    font-family: 'Courier New', Courier, monospace;
    color:#1F2937;
    flex-shrink: 1;
    flex-direction: column;
}

.quote  {
    background-color: lightblue;
    font-size: 26px;
    font-style: italic;
    text-align: center;
}

button  {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
}

.hero   {
    font-size: 26px;
}

.times  {
    display:flex;
    justify-content: space-around;
}